// index
.color {
    background-color: rgb(187, 112, 112);
    padding: 10px 20px;
}
// #44
.title {
    color: #00897B;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}

.btnBox a, button {
    display: inline-block;
    background: #4DB6AC;
    color: #FFF;
    padding: 10px 20px;
    margin: 1% 2% 1% 0;
    text-decoration: none;
    border: 0;
    font-size: 16px;

    &:hover {
        background: #00897B;
    }

    &:focus {
        outline: none;
        border: none;
        background: #00897B;
    }
}

// #45 #46
.smalltitle {
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.smalltitle2 {
    font-size: 15px;
    margin: 12px;
}

